@import "tailwindcss";

@theme {
  --color-lightbackground: #fff5d3;
  --color-background: #ffe99d;
  --color-accent: #ffd543;
  --color-heading: #d88b46;
  --color-nav: #ad5542;
  --color-border: #834848;

  --color-textPrimary: #834848;
  --color-textSecondary: #d88b46;
  --color-textBody: #242424;
  --color-textAccent: #ffd543;
}
html {
  scroll-behavior: smooth;
}