@import "tailwindcss";

@theme {
  --color-lightbackground: #fdebd7;
  --color-background: #ffe99d;
  --color-accent: #ffd543;
  --color-heading: #d88b46;
  --color-nav: #ad5542;
  --color-border: #834848;
  --color-logoBrown: #331f15;
  --color-lightBrown: #1f130d;
  --color-lightGray: #f5f5f5;
  --color-lightOrange: ##eb8e65;

  --color-textPrimary: #834848;
  --color-textSecondary: #d88b46;
  --color-textBody: #242424;
  --color-textAccent: #ffd543;
}
html {
  scroll-behavior: smooth;
}